.contacts-showcase {
  background: url("./images/contacts.jpeg") no-repeat center/cover;
  height: 500px;
}

.contacts-showcase .overlay {
  height: 500px;
}

.contacts {
  padding: 50px 20px;
  text-align: center;
}

.contacts h2 {
  margin-bottom: 10px;
}

.contacts .form input,
.contacts .form textarea {
  width: 300px;
  display: block;
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  font-family: "Catamaran", sans-serif;
}

@media (min-width: 768px) {
  .contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
  }
}

@media (min-width: 992px) {
  .contacts h2 {
    font-size: 36px;
  }

  .contacts .form input,
  .contacts .form textarea {
    width: 500px;
    font-size: 16px;
    color: var(--primary-color);
  }

  .contacts .form input::placeholder,
  .contacts .form textarea::placeholder {
    color: var(--primary-color);
  }
}

@media (min-width: 1280px) {
  .contacts {
    max-width: 1200px;
    margin: auto;
  }
}
