:root {
  --primary-color: #b22222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #111827;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", sans-serif;
}

p,
input,
button {
  font-family: "Catamaran", sans-serif;
}

.header-underline {
  background-color: var(--primary-color);
  height: 5px;
  width: 100px;
  margin: 0 auto 20px;
}

.btn-offer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: background-color 0.4s ease-in-out;
}

.btn-offer:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-color);
}

body {
  background-color: #f1f1f1;
  color: #111827;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.header .logo h2 span {
  color: var(--primary-color);
}

.header .navbar {
  opacity: 0;
  height: 0;
}

.header .navbar.open {
  opacity: 1;
  height: 100px;
}

.header .book-now-btn {
  display: none;
}

.header .menu-btn {
  font-size: 30px;
}

/* Showcase */
.showcase {
  background: url("./images/room-1.jpg") no-repeat center/cover;
  height: 700px;
}

.showcase .overlay {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.showcase .overlay h1 {
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 1;
}

/* Book Now section */
.book-now {
  padding: 50px 20px;
  text-align: center;
}

.book-now h2 {
  margin-bottom: 20px;
}

.book-now .btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: background-color 0.4s ease-in-out;
}

.book-now .btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-color);
}

/* Conference center */
.conference-center {
  padding: 0 0 50px 0;
}

.conference-center .description {
  padding: 10px 20px 0;
}

.conference-center .description h2 {
  margin-bottom: 10px;
}

.conference-center .description ul li {
  margin: 5px 0;
}

/* Featured Rooms Section */
.featured-rooms {
  padding: 20px 20px 50px;
}

.featured-rooms h3 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 26px;
}

.featured-rooms .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.featured-rooms .cards .card {
  position: relative;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: opacity 0.4s;
}

.featured-rooms .cards .card:hover {
  opacity: 0.8;
}

.featured-rooms .cards .card:hover h4 {
  opacity: 1;
}

.featured-rooms .cards .card img {
  border-radius: 10px 10px 0 0;
}

.featured-rooms .cards .card h4 {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: #fff;
  border-top-right-radius: 10px;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.4s;
}

/* Comfy Dreams Section */
.comfy-parent {
  background-color: var(--primary-color);
  padding: 50px 0;
}

.comfy-parent .comfy-house h2 {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
}

.comfy-parent .comfy-house .text {
  padding: 20px;
  color: #fff;
}

.comfy-parent .comfy-house .text h4 {
  margin-bottom: 5px;
  font-size: 20px;
}

.comfy-parent .comfy-house .text p {
  line-height: 1.3;
}

/* Offers */
.offers {
  padding: 50px 0;
  margin: 0 20px;
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 50px 20px;
}

.footer a {
  color: #fff;
}

.footer ul {
  margin-top: 30px;
}

.footer ul li {
  margin: 10px 0;
}

.footer ul.social {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.footer ul.social li {
  margin: 0 10px;
  font-size: 24px;
  cursor: pointer;
}

@media (min-width: 640px) {
  .showcase .overlay h1 {
    font-size: 36px;
  }

  .featured-rooms .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .showcase .overlay h1 {
    font-size: 48px;
  }

  .showcase .overlay p {
    font-size: 17px;
  }

  .book-now h2 {
    font-size: 36px;
  }

  .book-now .btn {
    padding: 20px 60px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .footer ul {
    margin: 0;
    display: flex;
  }

  .footer ul li {
    margin: 0 10px;
  }

  .footer ul.social {
    align-items: initial;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .featured-rooms .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .featured-rooms h3 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .showcase .overlay h1 {
    font-size: 64px;
  }

  .showcase .overlay p {
    font-size: 18px;
  }

  .conference-center {
    max-width: 1000px;
    margin: auto;
  }

  .conference-center h2 {
    font-size: 46px;
  }

  .conference-center .description ul li {
    font-size: 18px;
  }

  .comfy-parent .comfy-house .text {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .featured-rooms {
    max-width: 1200px;
    margin: auto;
  }
}

/* 
- My workflow for adding media queries mobile first
  500px
  640px
  768px
  992px - laptops
  1024px 
  1280px - bigger laptops
  1440px - desktops
  1600px - desktops
  1920px 
*/
