:root {
  --primary-color: #b22222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #111827;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", sans-serif;
}

p,
input,
button {
  font-family: "Catamaran", sans-serif;
}

.header-underline {
  background-color: var(--primary-color);
  height: 5px;
  width: 100px;
  margin-bottom: 20px;
}

body {
  background-color: #f1f1f1;
  color: #111827;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.header .logo h2 span {
  color: var(--primary-color);
}

.header .navbar {
  opacity: 0;
  height: 0;
}

.header .navbar.open {
  opacity: 1;
  height: 100px;
}

.header .book-now-btn {
  display: none;
}

.header .menu-btn {
  font-size: 30px;
}

/* Showcase */
.showcase {
  background: url("./images/room-1.jpg") no-repeat center/cover;
  height: 500px;
}

.showcase .overlay {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.showcase .overlay h1 {
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 1;
}

@media (min-width: 640px) {
  .showcase .overlay h1 {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  .showcase .overlay h1 {
    font-size: 48px;
  }

  .showcase .overlay p {
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  .showcase .overlay h1 {
    font-size: 64px;
  }

  .showcase .overlay p {
    font-size: 18px;
  }
}

/* 
- My workflow for adding media queries mobile first
  500px
  640px
  768px
  992px - laptops
  1024px 
  1280px - bigger laptops
  1440px - desktops
  1600px - desktops
  1920px 
*/
